* {
  color: rgb(97, 97, 97);
  font-family: "Mallanna", sans-serif;
}

body {
  font-size: 100%;
}

.navbar ul li {
  margin: auto 20px auto 20px;
}
.navbar ul li a {
  color: rgb(97, 97, 97) !important;
  letter-spacing: 0.1rem;
}

.navbar ul li a:hover {
  color: rgb(174, 150, 132) !important;
}

/* ABOUT-PAGE */

.about-page img {
  margin-top: 30%;
  height: 20rem;
  width: auto;
}

.about-page p {
  font-size: 1rem;
  margin-top: 15%;
  letter-spacing: 0.01rem;
}

.about-page .fa-github {
  color: rgb(155, 155, 155);
  padding: 1%;
  font-size: 140%;
}

.about-page .fa-linkedin-in {
  color: rgb(155, 155, 155);
  padding: 1%;
  font-size: 140%;
}

.about-page .fa-github:hover {
  color: rgb(163, 163, 163);
  font-weight: bold;
}

.about-page .fa-linkedin-in:hover {
  color: rgb(163, 163, 163);
  font-weight: bold;
}

/* PORTFOLIO-PAGE */

.portfolio-page h4 {
  margin-top: 5%;
  letter-spacing: 0.15rem;
  color: rgb(123, 123, 123);
}

.portfolio-page a {
  color: rgb(97, 97, 97);
  /* text-decoration: underline; */
}

.portfolio-page .portfolio-links {
  /* color: rgb(174,150,132); */
  color: rgb(162, 135, 114);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  /* text-decoration: underline; */
}

.portfolio-page a:hover {
  color: rgb(212, 200, 190);
}

.portfolio-page .content-title {
  /* color: rgb(174,150,132); */
  color: rgb(162, 135, 114);
  text-transform: uppercase;
}

.portfolio-page hr {
  background-color: rgb(212, 200, 190);
  margin-top: 3%;
  margin-bottom: 3%;
  height: 0.9px;
  border: none;
}

.portfolio-page img {
  /* height: 52%; */
  /* height: 300px; */
  height: 20rem;
}

.portfolio-page ul li {
  margin-top: 0.7%;
}

.portfolio-page ul {
  list-style: none;
}

.portfolio-page ul li::before {
  content: "-";
  color: rgb(97, 97, 97);
  font-weight: bold;
  display: inline-block;
  /* width: 1.5em;
  margin-left: -1.5em; */
  width: 0.8em;
  margin-left: -0.8em;
}

/* CONTACT-PAGE */

.contact-page h4 {
  margin-top: 3%;
  margin-bottom: 3%;
  letter-spacing: 0.15rem;
  color: rgb(123, 123, 123);
}

.contact-page input[type="text"],
input[type="email"] {
  /* border: 3px solid rgb(238,233,229); */
  text-align: center;
  margin-bottom: 1.5%;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  width: 400px;
  height: 40px;
}

.contact-page input[type="text"]:focus,
input[type="email"]:focus {
  outline: rgb(212, 200, 190) 1.8px solid;
  background-color: white;
}

.contact-page textarea {
  /* border: 3px solid rgb(238,233,229); */
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5%;
  width: 400px;
  height: 125px;
}

.contact-page textarea:focus {
  outline: rgb(212, 200, 190) 1.8px solid;
  background-color: white;
}

.contact-page input[type="submit"] {
  border: 0.5px solid rgb(155, 155, 155);
  /* border-radius: 4px; (rounded button)*/
  background-color: white;
  width: 10%;
  cursor: pointer;
}

.contact-page input[type="submit"]:hover {
  background-color: rgb(246, 246, 246);
}

.contact-page .contact-icons {
  font-size: 1.5rem;
  margin-top: 3%;
}

.contact-page .fa-github {
  color: rgb(155, 155, 155);
  padding: 1%;
  border: 3px solid rgb(238, 233, 229);
  /* border-radius: 4px; (rounded border)*/
}

.contact-page .fa-linkedin-in {
  color: rgb(155, 155, 155);
  padding: 1%;
  border: 3px solid rgb(238, 233, 229);
  /* border-radius: 4px; (rounded border)*/
}

.contact-page .fa-github:hover {
  color: rgb(163, 163, 163);
  font-weight: bold;
}

.contact-page .fa-linkedin-in:hover {
  color: rgb(163, 163, 163);
  font-weight: bold;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1199px) {
  .b-items {
    margin-right: -4%;
    margin-left: 4%;
  }
}

@media only screen and (max-width: 991px) {
  .about-page .bio {
    margin-top: -5%;
    margin-left: 8%;
  }
  .about-page .about-account-links {
    margin-left: 40%;
  }
}

@media only screen and (max-width: 767px) {
  .about-page .about-account-links {
    margin-left: 0%;
  }
}

@media only screen and (max-width: 537px) {
  .contact-page input[type="submit"] {
    width: 20%;
  }
}

@media only screen and (max-width: 405px) {
  .contact-page h4 {
    margin-bottom: 6%;
  }

  .contact-page input[type="text"],
  input[type="email"] {
    width: 250px;
    height: 40px;
  }

  .contact-page textarea {
    width: 250px;
  }

  .contact-page input[type="submit"] {
    width: 20%;
  }
}
