body, html {
  font-size: 100%;
  height: 100%;
}

* {
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* NAVBAR */
.navbar-custom{
  background-color: rgb(240,240,240)
}

.navbar ul li {
  margin: auto 60px auto 60px;
}

.navbar ul li a {
  color: black !important;
  font-weight: bold;
  letter-spacing: 0.25rem;
  font-size: 1.1rem;
}

.navbar ul li a:hover {
  color: rgb(190,171,156) !important;
}

/* ABOUT-PAGE */

.about-page img {
  margin-top: 30%;
  height: 20rem;
  width: auto;
}

.about-page p {
  font-size: 1.2rem;
  margin-top: 14%;
}

.about-page .fa-github, .about-page .fa-linkedin-in {
  color: rgb(102,101,109);
  padding: 1%;
  font-size: 140%;
}

.about-page .fa-github:hover, .about-page .fa-linkedin-in:hover {
  color: rgb(190,171,156);
}

/* PORTFOLIO-PAGE */

.portfolio-page .portfolio-links {
  color: rgb(71,70,76);
  font-weight: bold;
  font-size: 1.13rem;
  text-transform: uppercase;
  letter-spacing: 0.17rem;
}

.portfolio-page a:hover, .portfolio-page .github-url:hover {
  color: rgb(190,171,156);
  text-decoration: underline;
}

.portfolio-page .content-title {
  color: rgb(162, 135, 114);
  font-weight: bold;
}

.portfolio-page hr {
  background-color: rgb(212, 200, 190);
  margin-top: 3%;
  margin-bottom: 3%;
  height: 2px;
  border: none;
}

.portfolio-page img {
  height: 20rem;
  width: auto;
}

.portfolio-page ul li {
  margin-top: 0.7%;
  font-size: 1.14rem;
}

.portfolio-page ul {
  list-style: none;
}

.portfolio-page ul li::before {
  content: "-";
  color: rgb(97, 97, 97);
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 0.8em;
  margin-left: -0.8em;
}

.portfolio-page .github-url{
  word-wrap:break-word; 
  display: inline-block; 
  overflow-wrap: break-word; 
  word-break: break-all
}

/* CONTACT-PAGE */

.contact-page h4 {
  font-size: 1.2rem;
  margin-top: 4%;
  margin-bottom: 3%;
  letter-spacing: 0.25rem;
  font-weight: bold;
  color: rgb(71,70,76);
}

.contact-page input[type="text"], input[type="email"] {
  text-align: center;
  margin-bottom: 1.5%;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  width: 400px;
  height: 40px;
  border-radius: 3px;
  border: 0.5px solid rgb(139,138,146);
}

.contact-page input[type="text"]:focus, input[type="email"]:focus {
  outline: rgb(212, 200, 190) 1.8px solid;
  background-color: white;
}

.contact-page textarea {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5%;
  width: 400px;
  height: 125px;
  border-radius: 3px;
  border: 0.5px solid rgb(139,138,146);
}

.contact-page textarea:focus {
  outline: rgb(212, 200, 190) 1.8px solid;
  color: black
}

.contact-page input[type="submit"] {
  border-radius: 3px;
  border: 0.5px solid rgb(139,138,146);
  background-color: white;
  padding: .5% 4% .5% 4%;
  cursor: pointer;
}

.contact-page input[type="submit"]:hover {
  background-color: rgb(246, 246, 246);
}

.contact-page .contact-icons {
  font-size: 1.5rem;
  margin-top: 3%;
}

.contact-page .fa-github, .contact-page .fa-linkedin-in{
  color: rgb(102,101,109);
  padding: 1%;
  border: 2px solid rgb(238, 233, 229);
  border-radius: 3px;
}

.contact-page .fa-github:hover, .contact-page .fa-linkedin-in:hover{
  color: rgb(190,171,156);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 991px) {
  .about-page img {
    margin-top: 10%;
  }
  
  .about-page p {
    font-size: 1rem;
    margin-top: 6%;
  }
  
  .portfolio-page .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .portfolio-page .image-section {
    order: 0;
  }

  .portfolio-page .about-section {
    order: -1;
  }

  .portfolio-page hr {
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 2px;
  }

  .contact-page h4 {
    margin-top: 8%;
  }
  
  .contact-page input[type="submit"] {
    margin-top: 3%;
    margin-bottom: 6%;
  }
}

@media only screen and (max-width: 889px) {
  .portfolio-page img {
    height: 17rem;
    width: auto;
  }
}

@media only screen and (max-width: 767px) {
  .about-page .about-account-links {
    margin-left: 0%;
  }
}

@media only screen and (max-width: 537px) {
  .contact-page input[type="submit"] {
    width: 20%;
  }
}

@media only screen and (max-width: 480px) {
  .portfolio-page img {
    height: 13rem;
    width: auto;
  }
}

@media only screen and (max-width: 405px) {
  .contact-page h4 {
    margin-top: 15%;
    margin-bottom: 8%;
  }

  .contact-page input[type="text"], input[type="email"] {
    width: 250px;
    height: 40px;
    margin-bottom: 4%;
  }

  .contact-page textarea {
    width: 250px;
    margin-bottom: 2%;
  }

  .contact-page input[type="submit"] {
    width: 20%;
  }
}

@media only screen and (max-width: 370px) {
  .portfolio-page img {
    height: 11rem;
    width: auto;
  }
}

@media only screen and (max-width: 353px) {
  .portfolio-page img {
    height: 9rem;
    width: auto;
  }
}